.Nav {
  height: 10rem;

  display: flex;
  gap: var(--spacing-20);
  justify-content: center;
  align-items: center;
}

@media (max-width: 390px) {
  .Nav {
    height: 6rem;
    background-color: var(--color-primary);
  }
}
