.ListItem {
  list-style: none;

  position: relative;
}

.Link {
  text-decoration: none;

  font-size: var(--fontSize-4);
  font-weight: var(--fontWeight-semibold);
  color: var(--color--gray-800);
}

.ListItem::before {
  content: "";
  background-color: var(--color-primary2);
  opacity: 0.8;
  width: 0;
  height: 4px;
  /* margin-top: var(--spacing-8); */
  /* border-radius: 1rem; */

  position: absolute;
  top: 50%;

  transition: all 0.5s;
}

.ListItem:hover::before {
  width: 100%;
}
