.About {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Content {
  grid-column: 3 / 6;
}

.Title {
  font-size: var(--fontSize-11);
  color: var(--color-primary);
  line-height: var(--lineHeight-none);
}

.Title span {
  /* display: inline-block; */
  font-size: var(--fontSize-6);
}

.Description {
  font-size: var(--fontSize-4);
}

.ImageContainer {
  grid-column: 7 / 11;
  width: 25rem;
  height: 35rem;

  display: flex;
}

.Image,
.OverlayImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.OverlayImg {
  transform: translateX(-8rem) translateY(-10rem);
}

@media (max-width: 390px) {
  .About {
    padding: var(--spacing-24) var(--spacing-8);
  }

  .Title {
    font-size: var(--fontSize-10);
  }

  .ImageContainer {
    grid-row: 2;
    grid-column: 1 / -1;

    width: 19rem;
    height: 25rem;
    margin-top: 15rem;
  }

  .Content {
    grid-column: 1 / -1;
  }
}
