.Header {
  background-color: var(--color-primary);
  height: 70vh;
}

.Content {
  grid-column: 3 / 7;
  justify-self: end;
  padding: var(--spacing-8);
  /* width: 70%; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-8);
}

.Title {
  font-size: var(--fontSize-11);
  color: var(--color-primary2);
}

.Title span {
  display: block;
  font-size: var(--fontSize-4);
  color: var(--color--gray-200);
}

.Intro {
  font-size: var(--fontSize-4);
  color: var(--color--gray-300);

  padding-bottom: var(--spacing-16);
  width: 80%;
}

.ImageContainer {
  grid-column: 7 / 10;
  height: 40rem;
}

.Image {
  width: 100%;
  /* height: 100%; */
  border-radius: 16px;
  transform: translateY(2.4rem);
}

@media (max-width: 390px) {
  .Header {
  }

  .Title {
    font-size: var(--fontSize-9);
  }

  .Content {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .Intro {
    width: 100%;
  }

  .ImageContainer {
    grid-row: 2;
    grid-column: 1 / -1;

    justify-self: center;
    width: 30rem;
    height: 35rem;
  }

  .Image {
    height: 100%;
  }
}
