.List {
  display: flex;
  gap: var(--spacing-8);
  align-items: center;
}

.Login {
  all: unset;

  font-size: var(--fontSize-4);
  font-weight: var(--fontWeight-semibold);
  color: var(--color--gray-800);

  position: relative;
  cursor: pointer;
}

.Login::before {
  content: "";
  background-color: var(--color-primary2);
  opacity: 0.8;
  width: 0;
  height: 4px;

  position: absolute;
  top: 50%;

  transition: all 0.5s;
}

.Login:hover::before {
  width: 100%;
}

.MNavClose {
  align-self: flex-end;
  padding: var(--spacing-16);

  position: absolute;
  top: 0;
  right: 0;

  display: none;
}

.IconClose {
  width: 3.2rem;
  height: 3.2rem;
}

@media (max-width: 390px) {
  .List {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;

    background-color: var(--color--gray-50);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: var(--spacing-24);
    transform: translateX(100vw);
    opacity: 0;
    transition: all 0.6s;

    width: 80%;
    height: 100%;
  }

  .MNavClose {
    display: inline-block;
  }
}

.MobileNavOpen {
  transform: translateX(0);
  opacity: 1;
}
